<div class="card note" id="old-note">
    <div class="card-body">
        <h2>Old Note: </h2>
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.body}}</p>
    </div>
</div>

<div class="card note">
    <div class="card-body">
        <h2>New Note: </h2>
        <div class="form-group">
            <label for="new-header">Title</label>
            <input class="form-control" id="new-header" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="new-body">Details</label>
            <input class="form-control" id="new-body" placeholder="Details">
        </div>
        <a href="#" class="btn btn-primary edit-item">Confirm</a>
    </div>
</div>